GEMINI_API_KEY="YOUR GEMINI API KEY"
# Your collection path changes depending on the OS you are running.
COLLECTION_PATH="/home/user/.local/share/Anki2/User 1/collection.anki2"
DECK_NAME="Kaishi 1.5k"
FIELD_WORD="Word Furigana"
FIELD_MEANING="Word Meaning"